body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  background-color: black;
  display: block;
}

.canvasStyle {
  display: flex;
  flex-direction: column;
}

.btnStyle {
  display: flex;
  justify-content: space-between;
}
